body {
    text-align: center;
    font-family: Arial, sans-serif;
}

button {
    font-size: 20px;
    margin: 10px;
    padding: 10px;
}
#imageCarte {
    display: block;   /* Permet d'appliquer margin auto */
    margin: 20px auto; /* Centre horizontalement */
    max-width: 100%;  /* S'assure que l'image ne dépasse pas la largeur de l'écran */
    height: auto;     /* Garde les proportions */
}

